<h1>GitHub search</h1>
<form novalidate id="searchForm" name="searchForm" (submit)="term.length > 0 && doSearch(term.value)">
    <label for="searchTerm">Search:&nbsp;</label>
    <input id="searchTerm"
           name="searchTerm"
           type="text"
           placeholder="Search..."
           #term
           [formControl]="control"
           required minlength="1">
    <button type="submit">Search</button>
</form>
<div class="results">
  <div class="result" *ngFor="let item of resultAsync | async">
    <div class="result-owner">
      <img src="{{item.owner.avatar_url}}">
      <span>{{item.owner.login}}</span>
    </div>
    <a class="result-link" href="{{item.html_url}}">{{item.full_name}}</a>
  </div>
</div>
